---
title: "Frequently Asked Questions | Mint City Web Design"
description: "Frequently asked questions about our services"
preloadImg: "/assets/images/imagename.format"
permalink: "/about/faq/"
eleventyNavigation:
    key: FAQs
    order: 203
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Frequently Asked Questions</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                    FAQ                       -->
    <!-- ============================================ -->

    <section id="faq-254">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ's</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
                <p class="cs-text">
                    We specialize in custom, hand-coded websites built from the ground up.<br>Here is some common questions about our business.
                </p>
            </div>
            <div class="cs-flex-group">
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">Why choose hand-coded websites over website builders or templates?</button>
                        <p class="cs-item-p">
                            Hand-coded websites offer greater flexibility, faster load times, better SEO performance, and complete control over every aspect of the design and functionality. With us, you're not limited by templates or third-party plugins.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Do you use any content management systems (CMS)?</button>
                        <p class="cs-item-p">
                            Yes, when appropriate. We use Decap CMS for their ease of use for our clients.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">What technologies do you use?</button>
                        <p class="cs-item-p">
                            We primarily use HTML, CSS, and JavaScript. We utilize Node.js.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">How long does it take to build a website?</button>
                        <p class="cs-item-p">
                            Timeline varies based on complexity. A simple 5-page brochure site may take 2-3 weeks, while larger or more interactive sites may take 4-8 weeks. We'll provide a detailed timeline after contact.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Can I update my site after it's launched?</button>
                        <p class="cs-item-p">
                            Absolutely. We offer maintenance whenever requested and we will notify you as we update. We can also train you to make updates to your blog on your own  
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Is my website going to be mobile-friendly?</button>
                        <p class="cs-item-p">
                            Yes! All of our websites are built with responsive design to ensure they work flawlessly on all screen sizes, from smartphones to large desktop monitors.  
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Do you offer SEO optimization?</button>
                        <p class="cs-item-p">
                            Yes. We implement foundational SEO best practices during development, including clean code, fast load times, mobile responsiveness, and meta tagging.  
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Can you redesign my existing website?</button>
                        <p class="cs-item-p">
                            Of course! Whether you need a full overhaul or a few modern updates, we can work with your existing content or rebuild your site from scratch to improve performance and design.  
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Do you provide hosting and domain services?</button>
                        <p class="cs-item-p">
                            Yes. We manage website hosting and offer full domain management services. If you'd prefer to purchase your own domain, we can still handle the hosting setup for you and ensure everything is properly configured. Whether you want us to take care of everything or just need help setting things up, we're flexible and here to help.
                        </p>
                    </li>
                </ul>
                <div class="cs-cta">
                    <h3 class="cs-h3">Don't see the answer you need?</h3>
                    <p class="cs-cta-p">
                        That's ok. Feel free to contact us directly. We're always happy to talk about your project or answer anything not covered here.
                    </p>
                    <a href="/contact/" class="cs-button-solid">Contact us</a>
                </div>
            </div>
        </div>
    </section>
                                

{% endblock %}