---
title: "Frequently Asked Questions | Mint City Web Design"
description: "Frequently asked questions about our services"
preloadImg: "/assets/images/imagename.format"
permalink: "/about/faq/"
eleventyNavigation:
    key: FAQs
    order: 203
    parent: About
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css"
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->
{% endblock %}