---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Hero                       -->
    <!-- ============================================ -->

    <section id="hero-408">
        <div class="cs-container">
            <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Professional Websites</span> For Small Businesses</h2>
                <p class="cs-text">
                    Mint City Web Design specializes in hand-coded websites customized for small businesses. Whether you're just starting out or ready to level up your online presence, we want to help your small business grow.
                </p>
                <a href="" class="cs-button-solid">Contact Us</a>
                <a href="" class="cs-button-transparent">Our Services</a>
            </div>
            <div class="cs-stat-group">
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Meet The Team                 -->
    <!-- ============================================ -->

    <section id="meet-team-1141">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Expert Web Team</span>
                    <h2 class="cs-title">Meet The Web Team</h2>
                </div>
                <p class="cs-text">
                    We're a husband-and-wife team who turned our love for code and design into a small business that helps other small businesses grow. With backgrounds in computer science and digital art, we created Mint City Web Design to offer handcrafted websites that are fast, functional, and tailored to each client.
                </p>
                <a href="" class="cs-button-solid">About Us</a>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg" alt="person" width="305" height="407">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-name">Natalie Fronzaglia</span>
                        <span class="cs-job">Designer</span>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg" alt="person" width="305" height="407">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-name">Eric Fronzaglia</span>
                        <span class="cs-job">Developer</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-942">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Our Service</span>
                <h2 class="cs-title">What We Provide Your Business</h2>
                <p class="cs-text">
                    We want to save you time and unnecessary stress. At Mint City Web Design, we offer custom design, development, and ongoing management to build and maintain fast, reliable websites tailored to your business.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Website Design</h3>
                    <p class="cs-item-text">
                        We create custom website designs that reflect your brand's personality and connect with your audience. Every layout is thoughtfully planned to be both beautiful and easy to navigate on any device.
                    </p>
                    <a href="" class="cs-link">Read More</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair1.jpg" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Website Development</h3>
                    <p class="cs-item-text">
                        We hand-code custom, static sites featuring HTML and CSS. By skipping the page builders, we create clean, efficient code that loads faster, ranks better, and offers full flexibility for your brand.
                    </p>
                    <a href="" class="cs-link">Read More</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair2.jpg" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                    </picture>
                    <h3 class="cs-h3">Website Management</h3>
                    <p class="cs-item-text">
                        We handle ongoing updates and edits so you don't have to. Just contact us when something needs to change. We're here to keep your site up to date and your time focused on running your business.
                    </p>
                    <a href="" class="cs-link">Read More</a>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/hair3.jpg" alt="hair cut" width="480" height="425">
                    </picture>
                </li>
            </ul>
        </div>
        <!--Waves Background-->
        <picture class="cs-waves">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-379">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">Check Out Our Work</h2>
                <p class="cs-text">
                    As a new business, we're excited to share our recent projects - a custom website built for a North Carolina-based Real Estate Agency and our own page. We look forward to adding more success stories as we help small businesses grow online.
                </p>
            </div>
            <div class="cs-gallery">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery1.jpg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 4-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 5-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg" alt="gallery" width="305" height="400">
                </picture>
                <!--Picture 6-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg" alt="gallery" width="305" height="400">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">It's Easy to Get Started</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Starter</h3>
                    <p class="cs-item-text">
                        Perfect to get started.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$39<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">Starter</h3>
                    <p class="cs-item-text">
                        Perfect to get started.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$69<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Starter</h3>
                    <p class="cs-item-text">
                        Perfect to get started.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$99<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1712">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
            <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg"
            alt="busines meeting" width="522" height="609" aria-hidden="true">
        </picture>
        <div class="cs-container">
            <div class="cs-wrapper">
                <div class="cs-content">
                    <span class="cs-topper">Our Steps</span>
                    <h2 class="cs-title">How To Get Started</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-number">01</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Connect With Us / Schedule a Meeting</h3>
                            <p class="cs-item-text">
                                We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">02</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Paperwork Stuff</h3>
                            <p class="cs-item-text">
                                The paperwork stuff if moving forward.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">03</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Review the Design</h3>
                            <p class="cs-item-text">
                                We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">04</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Enjoy!</h3>
                            <p class="cs-item-text">
                                Focus on your business. Just let us know when you have edits (tickets, email, text, call) and we'll create a ticket.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-508">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Words from <span class="cs-color">Our Clients</span></h2>
                <p class="cs-text">
                    We're proud to work with small business owners who value quality and personal service. Take a look at what our clients have to say about their experience working with us.
                </p>
                <!--<a href="" class="cs-button-solid">Reviews</a>-->
            </div>
            <div class="cs-review">
                <p class="cs-review-p">
                    Consequat nisl vel pretium lectus quam id leo. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Blandit libero volutpat sed cras ornare
                </p>
                <img class="cs-profile" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/profile1.png" alt="profile" width="60" height="60">
                <div class="cs-info">
                    <span class="cs-name">Steven McGee</span>
                    <span class="cs-location">Pink Magnolia Realty</span>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}